In [134]:
import os
import json
import csv
import requests
import folium
import googlemaps
import pandas as pd
import xlrd
import openpyxl

In [135]:
gmaps_key = "AIzaSyDTbfmYGb5nplB8o9aUJVnjrDYiGiLITIM"
gmaps = googlemaps.Client(key=gmaps_key)

In [136]:
seoul_df = pd.read_excel("전국_맛집_취합종합본.xlsx",'서울특별시', engine = 'openpyxl')
gyeonggi_df = pd.read_excel("전국_맛집_취합종합본.xlsx",'경기도', engine = 'openpyxl')
seoul_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,지역,도시명,음식종류,대표메뉴,식당상호,포털 검색명,추천사유
4,서울특별시,강남구,육류,양꼬치,짱수양꼬치,수서동 양꼬치,양꼬치 집과 쌀국수집이 같이 붙어 있어 쌀국수도 같이 즐길 수 있어서 좋았어요
...,...,...,...,...,...,...,...
101,서울특별시,중랑구,한식,해물찜,찜집,찝집 본점,콩나물 보다 해물이 정말 많이 들어간 해물찜
102,서울특별시,중랑구,한식,"곱창,막창",이주소곱창,이주소곱창,"곱창,막창 맛집이며, 최소 30분 이상 대기하셔서 들어갈 맛집"
103,서울특별시,중랑구,한식,"동태탕,코다리조림",동해세수대야 동태탕 상봉점,동해세수대야 동태탕,"점장님, 총괄님도 인정하시는 맛집으로 가격대비 맛도 좋아 얼큰한 국물이 생각나면 딱..."
104,서울특별시,중랑구,한식,철판곱창,울타리철판곱창,울타리철판곱창,"치즈곱창,야채곱창 식사 후 볶음밥이 맛있는집"
105,서울특별시,중랑구,한식,소고기,고려관,고려관 본점,샐러드바가 있는 가족 모임하기 좋은 소기기 맛집

In [137]:
station_name = station_name[4:105]

In [138]:
station_name

12            강남구 스시윤
13       강남구 청사초롱1970
14            강동구 호천당
15           강동구 바른짬뽕
16           강동구 뿅에전설
            ...
100     중구 돈가네 옛날김치찌개
101       중랑구 개성명가(집)
102    중랑구 문어스토리해천 본점
103         중랑구 송담추어탕
104    중랑구 정담명가 남원추어탕
Length: 93, dtype: object

In [139]:
station_addreess = []
station_lat = []
station_lng = []

for name in station_name:
    tmp = gmaps.geocode(name, language='ko')
    station_addreess.append(tmp[0].get("formatted_address"))
    
    tmp_loc = tmp[0].get("geometry")

    station_lat.append(tmp_loc['location']['lat'])
    station_lng.append(tmp_loc['location']['lng'])
    
    print(name + '-->' + tmp[0].get("formatted_address"))

강남구 스시윤-->대한민국 서울특별시 송파구 석촌동 석촌호수로 188
강남구 청사초롱1970-->대한민국 서울특별시 강남구 논현동 117-7
강동구 호천당-->대한민국 경기도 하남시 망월동 927
강동구 바른짬뽕-->대한민국 서울특별시 강동구 둔촌동 명일로13길 15
강동구 뿅에전설-->대한민국 서울특별시 강동구 길동 439
강동구 장가계-->대한민국 서울특별시 강남구 논현동 98-12
강북구 비어힐-->대한민국 서울특별시 강북구
강북구 가야밀면돼지국밥-->대한민국 경기도 고양시 일산서구 대화동 호수로856번길 8-11
강북구 경남식당-->대한민국 서울특별시 수유2동 수유동 704-17번지 강북구 서울특별시 KR
강서구 고자리 냉면-->대한민국 경기도 고양시 덕양구 주교동 567-5
강서구 구산정-->대한민국 서울특별시 강서구
강서구 굴토리-->대한민국 경기도 고양시 일산서구 대화동 2302-1
강서구 나들목-->대한민국 서울특별시 강서구 가양동 1456-6 가양나들목
강서구 단이네 벌교꼬막-->대한민국 경기도 고양시 일산동구 중산동 탄중로431번길 8-16
강서구 대가 칼국수-->대한민국 서울특별시 강서구 염창동 246-14
광진구 두리원-->대한민국 서울특별시 광진구 화양동 111-85
광진구 마이갈비-->대한민국 서울특별시 광진구 화양동 광나루로22가길 18 1 층
광진구 맛찬들-->대한민국 서울특별시 송파구 잠실동 192-10
광진구 먹쇠-->대한민국 서울특별시 광진구 자양2동 685-2
광진구 백년족발-->대한민국 서울특별시 광진구 중곡동 113-21번지 1층
광진구 별미진미-->대한민국 서울특별시 광진구 자양동 219-18
구로구 숫돌골-->대한민국 서울특별시 구로구
구로구 신호등 장작구이-->대한민국 경기도 고양시 덕양구 창릉동 서오릉로 396-14
구로구 아리랑면옥-->대한민국 서울특별시 구로구
구로구 오실장 강남면옥-->대한민국 경기도 고양시 중앙로 1493 상가동 1층 KR
구로구 일산교자-->대한민국 경기도 고양시 덕양구 원당동 372-2
구로구 장충동 한양할머니 족발-->대한민국 서울특별시 중구 장충동1가 62-2
구로구 제주도야지삼송점-->대한민국 경기도 고양시 덕양구 신원동 권율대로 908
구로구 제주오라방-->대한민국 서울특별시 마포구 망원동 포은로 68
구로구 종가집칼국수-->대한민국 서울특별시 구로구 구로동 547-24
구로구 주막-->대한민국 서울특별시 구로구 구로동 1124-40번지 2층
구로구 지라산 어탕국수-->대한민국 서울특별시 양천구 목1동 926-8
구의동 철원 양평해장국-->대한민국 경기도 남양주시 일패동 503
군자동 철원양평해장국-->대한민국 경기도 남양주시 일패동 503
금천구 최현숙 족발보쌈-->대한민국 경기도 고양시 덕양구 화정동 983-1
금천구 추어정-->대한민국 경기도 안양시 만안구 석수동 689-3
노원구 태기산순대국-->대한민국 서울특별시 관악구 봉천동 1631-4
동대문구 팔당냉면-->대한민국 서울특별시 동대문구 제기동 왕산로37길 51
동작구 허육도-->대한민국 서울특별시 동작구
동작구 화로구이-->대한민국 서울특별시 동작구 사당1동 1007-50
동작구 화전 분재원-->대한민국 경기도 고양시 덕양구 화전동 233-1
동작구 훼미리부대찌게-->대한민국 서울특별시 동작구 사당동 145-15
마포구 참이맛 뼈다귀-->대한민국 서울특별시 마포구 서교동 367-1
서초구 돼지집-->대한민국 서울특별시 서초구 서초3동 1503-18
서초구 아침목장-->대한민국 서울특별시 서초구 방배동 방배로42길 11
서초구 충현갈비-->대한민국 경기도 광명시 소하동
서초구 먹보한우 광주점-->대한민국 경기도 성남시 분당구 구미동 49
서초구 램브로 광주본점-->대한민국 경기도 광주시 경안동 파발로 59번길 15
서초구 유주희 손만두국-->대한민국 경기도 광주시 목현동 421-2
성동구 들밥-->대한민국 경기도 광주시 오포읍 양벌리 249-1
성동구 먹보한우 광주점-->대한민국 경기도 광주시 쌍령동 청석로 252
성북구 벅시분식-->대한민국 경기도 구리시 수택2동 이문안로99번길 10-7
성북구 미성식당-->대한민국 서울특별시 중계2.3동 중계동 511-2번지 시영사단지 상가지하층 1호 노원구 서울특별시 KR
송파구 정진식당-->대한민국 서울특별시 송파구 신천동 올림픽로35길 104 장미아파트 상가
양천구 토평 돌소곱창-->대한민국 경기도 구리시 토평동 971
양천구 시골식당-->대한민국 서울특별시 양천구 신정1동 중앙로36길 22-9
양천구 홍종흔 베이커리-->대한민국 서울특별시 양천구 목동 961-1
양천구 군포식당-->대한민국 서울특별시 양천구 신월2동 602-8
양천구 남도식당-->대한민국 서울특별시 양천구 신정4동 895-15
양천구 설반-->대한민국 경기도 김포시 양촌읍 김포한강4로 369번길 83
양천구 양촌리 민물장어-->대한민국 서울특별시 양천구 신월1동 223-1
양천구 하동한우국밥-->대한민국 서울특별시 영등포동 영등포동4가 68-5번지 지상1호 2 3층 영등포구 서울특별시 KR
양천구 스테이크나인-->대한민국 서울특별시 염창동 염창동 240-21번지 1층 117호 우림블루나인비즈니스센터 강서구 서울특별시 KR
양천구 원차우짬뽕-->대한민국 서울특별시 강서구 방화동 방화대로 373
양천구 고모네 콩탕-->대한민국 서울특별시 강동구 성내동 413-13
양천구 도농 병천 토종순대-->대한민국 서울특별시 양천구 신월4동 525-6
양청구 천마산 손두부-->대한민국 서울특별시 양천구 신정동 323-7
영등포구 덕소숯불고기-->대한민국 서울특별시 영등포구 당산동3가 91-1
영등포구 목향원-->대한민국 경기도 남양주시 별내동 2334
영등포구 한송 칼국수-->대한민국 경기도 남양주시 별내동 82-6
영등포구 광릉한옥집-->대한민국 서울특별시 영등포구 양평동3가 7-1
영등포구 고봉삼계탕-->대한민국 서울특별시 영등포구 여의도동 국회대로 72
영등포구 미쓰발랑코-->대한민국 경기도 부천시 원미구 중1동
영등포구 바닷가 왕해물찜-->대한민국 경기도 부천시 오정구 원종동 377-4
영등포구 엉터리 생고기 무한리필-->대한민국 서울특별시 영등포구 영등포동6가 5-8
영등포구 제주도야지 김치전골(다랑치마을)-->대한민국 서울특별시 영등포구
영등포구 중동 다온황제해물문어보쌈-->대한민국 경기도 부천시 원미구 중동 1158-12번지 2F
영등포구 풍천민물장어 천장어 -->대한민국 서울특별시 영등포구 영등포동3가 6-2
영등포구 먹방촌-->대한민국 경기도 군포시 산본동 산본로323번길 4-7
욕산구 왕통골뱅이-->대한민국 경기도 군포시 산본동 1129-2
용산구 홍두깨 칼국수-->대한민국 서울특별시 용산구 한남동 657-144
은평구 풍경오리돌판구미-->대한민국 경기도 안양시 만안구 안양동 양화로28번길 39 1
은평구 대머리 칼국수-->대한민국 서울특별시 은평구 녹번동 204
은평구 동래파전-->대한민국 서울특별시 동대문구 답십리동 465-137
의정부 아지트-->대한민국 경기도 의정부시 호원동 466-16
종로구 오늘손칼국수앤찜-->대한민국 서울특별시 동대문구 답십리1동 전농로 51
종로구 풍경돌판구이-->대한민국 경기도 성남시 수정구 태평1동 수정로25번길 5
종로구 두향-->대한민국 서울특별시 종로구 연지동 종로33길
중구 돈가네 옛날김치찌개-->대한민국 서울특별시 강남구 개포4동 1178-9
중랑구 개성명가(집)-->대한민국 경기도 남양주시 와부읍 경강로 876
중랑구 문어스토리해천 본점-->대한민국 경기도 수원시 영통구 원천동 센트럴파크로 128번길 15-3
중랑구 송담추어탕-->대한민국 서울특별시 성동구 성수2가3동 아차산로7길 46
중랑구 정담명가 남원추어탕-->대한민국 서울특별시 중랑구 묵1동 166-12

In [140]:
station_addreess

['대한민국 서울특별시 송파구 석촌동 석촌호수로 188',
 '대한민국 서울특별시 강남구 논현동 117-7',
 '대한민국 경기도 하남시 망월동 927',
 '대한민국 서울특별시 강동구 둔촌동 명일로13길 15',
 '대한민국 서울특별시 강동구 길동 439',
 '대한민국 서울특별시 강남구 논현동 98-12',
 '대한민국 서울특별시 강북구',
 '대한민국 경기도 고양시 일산서구 대화동 호수로856번길 8-11',
 '대한민국 서울특별시 수유2동 수유동 704-17번지 강북구 서울특별시 KR',
 '대한민국 경기도 고양시 덕양구 주교동 567-5',
 '대한민국 서울특별시 강서구',
 '대한민국 경기도 고양시 일산서구 대화동 2302-1',
 '대한민국 서울특별시 강서구 가양동 1456-6 가양나들목',
 '대한민국 경기도 고양시 일산동구 중산동 탄중로431번길 8-16',
 '대한민국 서울특별시 강서구 염창동 246-14',
 '대한민국 서울특별시 광진구 화양동 111-85',
 '대한민국 서울특별시 광진구 화양동 광나루로22가길 18 1 층',
 '대한민국 서울특별시 송파구 잠실동 192-10',
 '대한민국 서울특별시 광진구 자양2동 685-2',
 '대한민국 서울특별시 광진구 중곡동 113-21번지 1층',
 '대한민국 서울특별시 광진구 자양동 219-18',
 '대한민국 서울특별시 구로구',
 '대한민국 경기도 고양시 덕양구 창릉동 서오릉로 396-14',
 '대한민국 서울특별시 구로구',
 '대한민국 경기도 고양시 중앙로 1493 상가동 1층 KR',
 '대한민국 경기도 고양시 덕양구 원당동 372-2',
 '대한민국 서울특별시 중구 장충동1가 62-2',
 '대한민국 경기도 고양시 덕양구 신원동 권율대로 908',
 '대한민국 서울특별시 마포구 망원동 포은로 68',
 '대한민국 서울특별시 구로구 구로동 547-24',
 '대한민국 서울특별시 구로구 구로동 1124-40번지 2층',
 '대한민국 서울특별시 양천구 목1동 926-8',
 '대한민국 경기도 남양주시 일패동 503',
 '대한민국 경기도 남양주시 일패동 503',
 '대한민국 경기도 고양시 덕양구 화정동 983-1',
 '대한민국 경기도 안양시 만안구 석수동 689-3',
 '대한민국 서울특별시 관악구 봉천동 1631-4',
 '대한민국 서울특별시 동대문구 제기동 왕산로37길 51',
 '대한민국 서울특별시 동작구',
 '대한민국 서울특별시 동작구 사당1동 1007-50',
 '대한민국 경기도 고양시 덕양구 화전동 233-1',
 '대한민국 서울특별시 동작구 사당동 145-15',
 '대한민국 서울특별시 마포구 서교동 367-1',
 '대한민국 서울특별시 서초구 서초3동 1503-18',
 '대한민국 서울특별시 서초구 방배동 방배로42길 11',
 '대한민국 경기도 광명시 소하동',
 '대한민국 경기도 성남시 분당구 구미동 49',
 '대한민국 경기도 광주시 경안동 파발로 59번길 15',
 '대한민국 경기도 광주시 목현동 421-2',
 '대한민국 경기도 광주시 오포읍 양벌리 249-1',
 '대한민국 경기도 광주시 쌍령동 청석로 252',
 '대한민국 경기도 구리시 수택2동 이문안로99번길 10-7',
 '대한민국 서울특별시 중계2.3동 중계동 511-2번지 시영사단지 상가지하층 1호 노원구 서울특별시 KR',
 '대한민국 서울특별시 송파구 신천동 올림픽로35길 104 장미아파트 상가',
 '대한민국 경기도 구리시 토평동 971',
 '대한민국 서울특별시 양천구 신정1동 중앙로36길 22-9',
 '대한민국 서울특별시 양천구 목동 961-1',
 '대한민국 서울특별시 양천구 신월2동 602-8',
 '대한민국 서울특별시 양천구 신정4동 895-15',
 '대한민국 경기도 김포시 양촌읍 김포한강4로 369번길 83',
 '대한민국 서울특별시 양천구 신월1동 223-1',
 '대한민국 서울특별시 영등포동 영등포동4가 68-5번지 지상1호 2 3층 영등포구 서울특별시 KR',
 '대한민국 서울특별시 염창동 염창동 240-21번지 1층 117호 우림블루나인비즈니스센터 강서구 서울특별시 KR',
 '대한민국 서울특별시 강서구 방화동 방화대로 373',
 '대한민국 서울특별시 강동구 성내동 413-13',
 '대한민국 서울특별시 양천구 신월4동 525-6',
 '대한민국 서울특별시 양천구 신정동 323-7',
 '대한민국 서울특별시 영등포구 당산동3가 91-1',
 '대한민국 경기도 남양주시 별내동 2334',
 '대한민국 경기도 남양주시 별내동 82-6',
 '대한민국 서울특별시 영등포구 양평동3가 7-1',
 '대한민국 서울특별시 영등포구 여의도동 국회대로 72',
 '대한민국 경기도 부천시 원미구 중1동',
 '대한민국 경기도 부천시 오정구 원종동 377-4',
 '대한민국 서울특별시 영등포구 영등포동6가 5-8',
 '대한민국 서울특별시 영등포구',
 '대한민국 경기도 부천시 원미구 중동 1158-12번지 2F',
 '대한민국 서울특별시 영등포구 영등포동3가 6-2',
 '대한민국 경기도 군포시 산본동 산본로323번길 4-7',
 '대한민국 경기도 군포시 산본동 1129-2',
 '대한민국 서울특별시 용산구 한남동 657-144',
 '대한민국 경기도 안양시 만안구 안양동 양화로28번길 39 1',
 '대한민국 서울특별시 은평구 녹번동 204',
 '대한민국 서울특별시 동대문구 답십리동 465-137',
 '대한민국 경기도 의정부시 호원동 466-16',
 '대한민국 서울특별시 동대문구 답십리1동 전농로 51',
 '대한민국 경기도 성남시 수정구 태평1동 수정로25번길 5',
 '대한민국 서울특별시 종로구 연지동 종로33길',
 '대한민국 서울특별시 강남구 개포4동 1178-9',
 '대한민국 경기도 남양주시 와부읍 경강로 876',
 '대한민국 경기도 수원시 영통구 원천동 센트럴파크로 128번길 15-3',
 '대한민국 서울특별시 성동구 성수2가3동 아차산로7길 46',
 '대한민국 서울특별시 중랑구 묵1동 166-12']

In [141]:
station_addreess

['대한민국 서울특별시 송파구 석촌동 석촌호수로 188',
 '대한민국 서울특별시 강남구 논현동 117-7',
 '대한민국 경기도 하남시 망월동 927',
 '대한민국 서울특별시 강동구 둔촌동 명일로13길 15',
 '대한민국 서울특별시 강동구 길동 439',
 '대한민국 서울특별시 강남구 논현동 98-12',
 '대한민국 서울특별시 강북구',
 '대한민국 경기도 고양시 일산서구 대화동 호수로856번길 8-11',
 '대한민국 서울특별시 수유2동 수유동 704-17번지 강북구 서울특별시 KR',
 '대한민국 경기도 고양시 덕양구 주교동 567-5',
 '대한민국 서울특별시 강서구',
 '대한민국 경기도 고양시 일산서구 대화동 2302-1',
 '대한민국 서울특별시 강서구 가양동 1456-6 가양나들목',
 '대한민국 경기도 고양시 일산동구 중산동 탄중로431번길 8-16',
 '대한민국 서울특별시 강서구 염창동 246-14',
 '대한민국 서울특별시 광진구 화양동 111-85',
 '대한민국 서울특별시 광진구 화양동 광나루로22가길 18 1 층',
 '대한민국 서울특별시 송파구 잠실동 192-10',
 '대한민국 서울특별시 광진구 자양2동 685-2',
 '대한민국 서울특별시 광진구 중곡동 113-21번지 1층',
 '대한민국 서울특별시 광진구 자양동 219-18',
 '대한민국 서울특별시 구로구',
 '대한민국 경기도 고양시 덕양구 창릉동 서오릉로 396-14',
 '대한민국 서울특별시 구로구',
 '대한민국 경기도 고양시 중앙로 1493 상가동 1층 KR',
 '대한민국 경기도 고양시 덕양구 원당동 372-2',
 '대한민국 서울특별시 중구 장충동1가 62-2',
 '대한민국 경기도 고양시 덕양구 신원동 권율대로 908',
 '대한민국 서울특별시 마포구 망원동 포은로 68',
 '대한민국 서울특별시 구로구 구로동 547-24',
 '대한민국 서울특별시 구로구 구로동 1124-40번지 2층',
 '대한민국 서울특별시 양천구 목1동 926-8',
 '대한민국 경기도 남양주시 일패동 503',
 '대한민국 경기도 남양주시 일패동 503',
 '대한민국 경기도 고양시 덕양구 화정동 983-1',
 '대한민국 경기도 안양시 만안구 석수동 689-3',
 '대한민국 서울특별시 관악구 봉천동 1631-4',
 '대한민국 서울특별시 동대문구 제기동 왕산로37길 51',
 '대한민국 서울특별시 동작구',
 '대한민국 서울특별시 동작구 사당1동 1007-50',
 '대한민국 경기도 고양시 덕양구 화전동 233-1',
 '대한민국 서울특별시 동작구 사당동 145-15',
 '대한민국 서울특별시 마포구 서교동 367-1',
 '대한민국 서울특별시 서초구 서초3동 1503-18',
 '대한민국 서울특별시 서초구 방배동 방배로42길 11',
 '대한민국 경기도 광명시 소하동',
 '대한민국 경기도 성남시 분당구 구미동 49',
 '대한민국 경기도 광주시 경안동 파발로 59번길 15',
 '대한민국 경기도 광주시 목현동 421-2',
 '대한민국 경기도 광주시 오포읍 양벌리 249-1',
 '대한민국 경기도 광주시 쌍령동 청석로 252',
 '대한민국 경기도 구리시 수택2동 이문안로99번길 10-7',
 '대한민국 서울특별시 중계2.3동 중계동 511-2번지 시영사단지 상가지하층 1호 노원구 서울특별시 KR',
 '대한민국 서울특별시 송파구 신천동 올림픽로35길 104 장미아파트 상가',
 '대한민국 경기도 구리시 토평동 971',
 '대한민국 서울특별시 양천구 신정1동 중앙로36길 22-9',
 '대한민국 서울특별시 양천구 목동 961-1',
 '대한민국 서울특별시 양천구 신월2동 602-8',
 '대한민국 서울특별시 양천구 신정4동 895-15',
 '대한민국 경기도 김포시 양촌읍 김포한강4로 369번길 83',
 '대한민국 서울특별시 양천구 신월1동 223-1',
 '대한민국 서울특별시 영등포동 영등포동4가 68-5번지 지상1호 2 3층 영등포구 서울특별시 KR',
 '대한민국 서울특별시 염창동 염창동 240-21번지 1층 117호 우림블루나인비즈니스센터 강서구 서울특별시 KR',
 '대한민국 서울특별시 강서구 방화동 방화대로 373',
 '대한민국 서울특별시 강동구 성내동 413-13',
 '대한민국 서울특별시 양천구 신월4동 525-6',
 '대한민국 서울특별시 양천구 신정동 323-7',
 '대한민국 서울특별시 영등포구 당산동3가 91-1',
 '대한민국 경기도 남양주시 별내동 2334',
 '대한민국 경기도 남양주시 별내동 82-6',
 '대한민국 서울특별시 영등포구 양평동3가 7-1',
 '대한민국 서울특별시 영등포구 여의도동 국회대로 72',
 '대한민국 경기도 부천시 원미구 중1동',
 '대한민국 경기도 부천시 오정구 원종동 377-4',
 '대한민국 서울특별시 영등포구 영등포동6가 5-8',
 '대한민국 서울특별시 영등포구',
 '대한민국 경기도 부천시 원미구 중동 1158-12번지 2F',
 '대한민국 서울특별시 영등포구 영등포동3가 6-2',
 '대한민국 경기도 군포시 산본동 산본로323번길 4-7',
 '대한민국 경기도 군포시 산본동 1129-2',
 '대한민국 서울특별시 용산구 한남동 657-144',
 '대한민국 경기도 안양시 만안구 안양동 양화로28번길 39 1',
 '대한민국 서울특별시 은평구 녹번동 204',
 '대한민국 서울특별시 동대문구 답십리동 465-137',
 '대한민국 경기도 의정부시 호원동 466-16',
 '대한민국 서울특별시 동대문구 답십리1동 전농로 51',
 '대한민국 경기도 성남시 수정구 태평1동 수정로25번길 5',
 '대한민국 서울특별시 종로구 연지동 종로33길',
 '대한민국 서울특별시 강남구 개포4동 1178-9',
 '대한민국 경기도 남양주시 와부읍 경강로 876',
 '대한민국 경기도 수원시 영통구 원천동 센트럴파크로 128번길 15-3',
 '대한민국 서울특별시 성동구 성수2가3동 아차산로7길 46',
 '대한민국 서울특별시 중랑구 묵1동 166-12']

In [142]:
station_lat

[37.5061888,
 37.5169137,
 37.5693594,
 37.5337909,
 37.5351032,
 37.5200454,
 37.6396099,
 37.6707436,
 37.6472864,
 37.6646943,
 37.5509786,
 37.6711272,
 37.574477,
 37.6864074,
 37.5523628,
 37.5459447,
 37.5456713,
 37.5101589,
 37.5319447,
 37.5535137,
 37.5368014,
 37.4954031,
 37.6256698,
 37.4954031,
 37.6721834,
 37.6739297,
 37.5605592,
 37.663817,
 37.5531066,
 37.5018189,
 37.48406749999999,
 37.5263156,
 37.6191938,
 37.6191938,
 37.6323408,
 37.4229683,
 37.4764002,
 37.5822285,
 37.512402,
 37.4828159,
 37.60014,
 37.4857517,
 37.5515356,
 37.4888843,
 37.4953606,
 37.4349981,
 37.3471344,
 37.4125972,
 37.4333685,
 37.3843954,
 37.4096211,
 37.5923753,
 37.6433785,
 37.5172312,
 37.5905071,
 37.5191829,
 37.5249101,
 37.520325,
 37.5284015,
 37.6467423,
 37.5294812,
 37.5198966,
 37.556904,
 37.5740609,
 37.5295699,
 37.5188185,
 37.5157195,
 37.5263254,
 37.6834812,
 37.6557525,
 37.524969,
 37.5305027,
 37.499299,
 37.5171766,
 37.520401,
 37.5263715,
 37.5032691,
 37.519512,
 37.3596284,
 37.35944480000001,
 37.5342974,
 37.39785190000001,
 37.6019376,
 37.5703758,
 37.7051248,
 37.5695274,
 37.4402566,
 37.5716991,
 37.4746664,
 37.5594043,
 37.2913925,
 37.5491366,
 37.616225]

In [143]:
station_lng

[127.0980112,
 127.0385717,
 127.1944341,
 127.1440386,
 127.1392983,
 127.0358163,
 127.0256575,
 126.7487444,
 127.020798,
 126.843344,
 126.8495382,
 126.7472883,
 126.843992,
 126.777858,
 126.8705892,
 127.0737712,
 127.0759066,
 127.0810738,
 127.0865633,
 127.0915481,
 127.0813387,
 126.887369,
 126.8970345,
 126.887369,
 126.7554518,
 126.8491969,
 127.006019,
 126.891797,
 126.906376,
 126.8877024,
 126.9009122,
 126.8693146,
 127.1833332,
 127.1833332,
 126.8312214,
 126.9119806,
 126.9628823,
 127.0436849,
 126.9392525,
 126.9815312,
 126.8770062,
 126.9808391,
 126.9212533,
 127.006879,
 126.9893885,
 126.879683,
 127.1114388,
 127.2631376,
 127.211772,
 127.2547255,
 127.2654264,
 127.1428132,
 127.069535,
 127.1006401,
 127.1465635,
 126.8563494,
 126.8698794,
 126.8450318,
 126.8631465,
 126.6430573,
 126.8329847,
 126.9040419,
 126.8642901,
 126.8163657,
 127.1358996,
 126.8391042,
 126.861193,
 126.8988733,
 127.1013198,
 127.1307733,
 126.8912333,
 126.9203485,
 126.775387,
 126.8037935,
 126.904021,
 126.8962283,
 126.7636034,
 126.905784,
 126.9328671,
 126.9326868,
 127.005579,
 126.9154984,
 126.929241,
 127.0484172,
 127.0490763,
 127.0568863,
 127.1232814,
 127.0013177,
 127.0529966,
 127.2349948,
 127.0601026,
 127.0560728,
 127.0778195]

In [144]:
seoul_df.rename(columns = {'Unnamed: 0':'지역',
                            'Unnamed: 1':'도시명',
                            'Unnamed: 2':'음식종류',
                            'Unnamed: 3':'대표 메뉴',
                            'Unnamed: 4':'식당상호',
                            'Unnamed: 5':'포털 검색명',
                            'Unnamed: 6':'추천사유'}, inplace=True)
seoul_df.head()

,지역,도시명,음식종류,대표 메뉴,식당상호,포털 검색명,추천사유
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,지역,도시명,음식종류,대표메뉴,식당상호,포털 검색명,추천사유
4,서울특별시,강남구,육류,양꼬치,짱수양꼬치,수서동 양꼬치,양꼬치 집과 쌀국수집이 같이 붙어 있어 쌀국수도 같이 즐길 수 있어서 좋았어요

In [145]:
seoul_df_raw = seoul_df.drop([0,1,2,3])

In [147]:
seoul_df_raw.set_index('지역')

,도시명,음식종류,대표 메뉴,식당상호,포털 검색명,추천사유
지역,,,,,,
서울특별시,강남구,육류,양꼬치,짱수양꼬치,수서동 양꼬치,양꼬치 집과 쌀국수집이 같이 붙어 있어 쌀국수도 같이 즐길 수 있어서 좋았어요
서울특별시,강남구,일식,돈까스,구찌라꾸,구찌라꾸,일본식 돈까스 맛집 까스류 뿐아니라 우동 덥밥 등 모든메뉴가 일품
서울특별시,강남구,중식,낙지짬뽕,안사부,안사부짬뽕,"비주얼과 맛 모두 최고, 내용물을 보면 가성비 최고. 양과 재료, 맛과 비주얼 모두..."
서울특별시,강남구,한식,순대국,농민백암순대,농민백암순대,"수요미식회에 소개된, 국물이 진하고 건더기가 가득한~!! 순대국 갑오브갑"
서울특별시,강남구,한식,족발,뽕족,뽕족,"비교불가한 부드러움이 특징인 족발로, 부드러운 족발을 좋아하신다면, 뽕족~!!"
...,...,...,...,...,...,...
서울특별시,중랑구,한식,해물찜,찜집,찝집 본점,콩나물 보다 해물이 정말 많이 들어간 해물찜
서울특별시,중랑구,한식,"곱창,막창",이주소곱창,이주소곱창,"곱창,막창 맛집이며, 최소 30분 이상 대기하셔서 들어갈 맛집"
서울특별시,중랑구,한식,"동태탕,코다리조림",동해세수대야 동태탕 상봉점,동해세수대야 동태탕,"점장님, 총괄님도 인정하시는 맛집으로 가격대비 맛도 좋아 얼큰한 국물이 생각나면 딱..."
서울특별시,중랑구,한식,철판곱창,울타리철판곱창,울타리철판곱창,"치즈곱창,야채곱창 식사 후 볶음밥이 맛있는집"
서울특별시,중랑구,한식,소고기,고려관,고려관 본점,샐러드바가 있는 가족 모임하기 좋은 소기기 맛집

In [149]:
map = folium.Map(location=[37.5939286, 127.0879792], zoom_start=11)

for n in range(4,105):
    folium.CircleMarker(
        [station_lat[n-4],station_lng[n-4]], 
        radius = 10, 
        color='#3186cc', a
        fill_color='#3186cc', 
        fill=False,
        label=str(station_lng[n-4])
    ).add_to(map)

# map

# folium.CircleMarker(['37.5939286', '127.0879792'], 
#                     radius = 10, 
#                     color='#3186cc', fill_color='#3186cc', fill=True).add_to(map)

map

SyntaxError: invalid syntax (<ipython-input-149-02b6851df19b>, line 8)